<h1><%= current_user.username %>さん</h1>
<p>会員ページ</p>
<p>ランク別で探す</p>
<ul>
  <a href="/ranks/bronz">ブロンズ帯</a>
  <a href="/ranks/silver">シルバー帯</a>
  <a href="/ranks/gold">ゴールド帯</a>
</ul>
<ul>
  <a href="#">プラチナ帯</a>
  <a href="#">ダイアモンド帯</a>
  <a href="#">マスター帯</a>
</ul>
<p>キーワード別で探す</p>
<ul>
  <a href="/keywords/">初心者向け</a>
  <a href="/keywords/">設定方法</a>
  <a href="/keywords/">キャラ別</a>
</ul>
<ul>
  <a href="/keywords/">リコイル制御</a>
  <a href="/keywords/">マップ知識</a>
  <a href="/keywords/">キャラコン</a>
</ul>
<p>会員機能で探す</p>
<a href="#">新着レビュー動画</a>
<a href="#">他のユーザーのお気に入り一覧から探す</a>
<a href="#">会員機能で探す</a>